@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap');

.project-div {
    display:flex;
    justify-content: space-around;
    margin: auto;
    background: rgb(207,205,206);
}

.project-img {   
    width: 50%;
    height: auto;
    align-self: flex-start;
}

.project-div-right {
    width: 50%;
    padding: 1%;
}

.project-header {
    display:flex;
    justify-content: space-between;
}
.github-image {
    width: 50px;
    height: auto;
    align-self: flex-start;
}

.project-description {
    width: 500px;
}

.demo-link {
    width: 100px;
    background-color: white;
    color: red;
    text-decoration: none;
    border: solid 2px red;
    display: inline-block;
}
.Profile {
    height: 100vh;
    width: 100%;
    margin: auto;
    background-image: linear-gradient(to left, rgba(0,0,0,1) 0%,rgba(255,255,255,0) 100%), url(../static/profile.jpg);
    background-size: cover;
    color: white;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#profile-content {
    display: flex;
    height: 100%;
}

#div-about-left {
    width: 40%;
}

#div-about-right {
    width: 60%;
    align-items: center;
    display: flex;
    align-items: center;
    /*background-color: rgb(49,49,49);*/
}

#p-about {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 50%;
    margin: auto;
    margin-top: 50px;
}

#name-header {
    margin-top: 0px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 400%;
    margin-bottom: 0px;
}

#developer-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 150%;
    margin-top: 0px;
    margin-bottom: 0px;

}

.about-span {
    color: rgb(130,174,247);
}