@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,400;1,600&display=swap');

.project-div {
    display:flex;
    justify-content: space-around;
    margin-top: 15px;
    margin-bottom: 15px;
}

.project-header {
    display:flex;
    justify-content: space-between;
}
.github-image {
    width: 60px;
    height: auto;
    align-self: flex-start;
}

.project-description {
    width: 500px;
}

.project-img {   
    width: 700px;
    height: auto;
    align-self: flex-start;
}

.demo-link {
    width: 100px;
    background-color: white;
    color: red;
    text-decoration: none;
    border: solid 2px red;
    display: inline-block;
}
.Profile {
    height: 100vh;
    width: 100%;
    margin: auto;
    background-image: linear-gradient(to right,rgb(130,174,247) 0% , rgb(130,174,247) 40%,  rgb(49,49,49) 40%, rgb(49,49,49) 20%);
    color: white;
    margin: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#profile-content {
    display: flex;
}

#div-about-left {
    width: 40%;
}

#div-about-right {
    width: 60%;
}

#p-about {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    width: 50%;
    margin: auto;
}

#name-header {
    margin-top: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 300%
}

#developer-header {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-style: italic;
    font-size: 150%
}

.about-span {
    font-style: italic;
    color: rgb(130,174,247);
}